.tutorial__btn-img--rigth {
  transform: rotateY(180deg);
  width: 100%;
}

.tutorial__btn-img--left {
  width: 100%;
}

.tutorial__slider-title {
  width: 100%;
  background: #ffffff;
  box-shadow: 49.035px 120.274px 51.8105px rgba(0, 0, 0, 0.01),
    27.7556px 67.5387px 43.4838px rgba(0, 0, 0, 0.05),
    12.0274px 30.5312px 32.3816px rgba(0, 0, 0, 0.09),
    2.77556px 7.4015px 17.5786px rgba(0, 0, 0, 0.1),
    0px 0px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #ff2901;
  border-radius: 10px;
  padding: 5% 8%;
  margin-bottom: 50px;
  font-size: calc(1 * (4vh - 1vw));
  line-height: 32px;
}

.tutorial__list-item {
  font-weight: 700;
  font-size: 19px;
  position: relative;
  margin-bottom: 25px;
}

.tutorial__list-item:last-child {
  margin-bottom: 0;
}
.tutorial__list {
  list-style: none;
  width: 100%;
  padding-left: 5%;
  margin-bottom: 15px;
}
.tutorial__button-cont {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 3%;
  left: 20%;
}

.tutorial__slider-text {
  padding-left: 5%;
  display: inline-block;
  font-weight: 700;
  font-size: 19px;
  margin: 10px 0;
}

.tutorial__slider-link {
  color: #ff2201;
  cursor: pointer;
}

.tutorial__button-arrow {
  max-width: 30%;
}
.tutorial__list-item::before {
  content: "";
  position: absolute;
  width: 5%;
  padding-bottom: 5%;
  top: 34%;
  left: -7%;
  border-radius: 100%;
  background: #ff2901;
}
.tutorial__slider {
  padding-top: 50px;
  /* height: 80vh; */
  flex-direction: column;
  justify-content: space-between;
}

.tutorial__social {
  text-align: center;
}
.tutorial__social-link {
  width: 18%;
  margin-right: 10px;
  cursor: pointer;
}
